## Build
bin/
obj/
out/

## Visual Studio
.vs/
*.user
*.suo
*.cache
*.log

## OS
.DS_Store
Thumbs.db

## Environment / Secrets
appsettings.Development.json
appsettings.Local.json
.env

## Logs
logs/
*.log
!LoanCalculator.Web/Views/Logs/